.text img {
    width: 50%;
}

@media screen and (max-width: 800px) {
    

    .text {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        height: 100vh;
        align-content: center;
    }
    
    .text img {
        width: 100%;
    }
    
    .main {
        background-color: white;
    }

    
}